<p> 
	<strong>Title:</strong>
	<%= question.title %>
</p>
 
<p>
	<strong>Body:</strong>
	<%= question.body %> 
	<%= link_to 'Edit Question', edit_question_path(question) %>
	<%= link_to 'Delete', [question], 
						   method: :delete, 
						   data: {confirm: "Are You Sure?"} %>

</p>
 